---
layout: default
---
<div class="wrapper">
    <h2 class="site-nav"><a href="/blog/" style="color: darkgray">Posts </a> >> <a href="#">Algorithm</a></h2>
</div>
<div>
    {% for post in site.posts %}
    {% if post.categories contains 'algorithm' %}

    <time>{{ post.date | date: "%b %-d, %Y" }}</time>
    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    {% endif %}

    {% endfor %}

    <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    <div>